.card-1 {
    background: url("../img/cards/1.png") !important;
}

.card-2 {
    background: url("../img/cards/2.png") !important;
}

.card-3 {
    background: url("../img/cards/3.png") !important;
}

.card-4 {
    background: url("../img/cards/4.png") !important;
}

.card-5 {
    background: url("../img/cards/5.png") !important;
}

.card-6 {
    background: url("../img/cards/6.png") !important;
}

.card-7 {
    background: url("../img/cards/7.png") !important;
}

.card-8 {
    background: url("../img/cards/8.png") !important;
}